DROP TABLE [dbo].[GroupTable]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GroupTable](
	[GroupId] [uniqueidentifier] NOT NULL,
	[GroupName] [nvarchar](3500) NOT NULL,
	[IsLogicalDelete] [bit] NOT NULL,
	[CreateUser] [uniqueidentifier] NULL,
	[CreateDate] [datetime2](7) NULL,
	[UpdateUser] [uniqueidentifier] NULL,
	[UpdateDate] [datetime2](7) NULL,
	[DeleteUser] [uniqueidentifier] NULL,
	[DeleteDate] [datetime2](7) NULL,
 CONSTRAINT [PK_GroupTable] PRIMARY KEY CLUSTERED 
(
	[GroupId] ASC,
	[GroupName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
UPDATE STATISTICS [dbo].[GroupTable]([PK_GroupTable]) WITH STATS_STREAM = 0x010000000200000000000000000000007AA9B53A0000000058000000000000000000000000000000240300002400000010000000000000000000000000000000E7030000E7000000581B00000000000008D0003400000000, ROWCOUNT = 0, PAGECOUNT = 0
GO
